/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 10px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav {
    margin: auto;
    padding: 2rem;
}

nav a.plan{
    background-color:#FF764E;
    padding: .5rem;
    margin: 1rem;
    border: .2rem;
    border-radius: .5rem;
    height: 3rem;
    width: 3rem;
    color: white;
    text-decoration: none;
    inline-size: 7.5rem;
    overflow-wrap: break-word;
}

nav a.learn{
    background-color: #5ED3EB;
    padding: .5rem;
    margin: 1rem;
    border: .2rem;
    border-radius: .5rem;
    height: 3rem;
    color: white;
    text-decoration: none;
    inline-size: 7.5rem;
    overflow-wrap: break-word;
}


nav a.get{
    background-color: #FFCD69;
    padding: .5rem;
    margin: 1rem;
    border: .2rem;
    border-radius: .5rem;
    height: 3rem;
    color: white;
    text-decoration: none;
    inline-size: 7.5rem;
    overflow-wrap: break-word;
}


h1 {
    font-family: 'Chelsea Market';
    font-size: 30px;
}

p {
    font-family: 'Roboto Mono';

}

#header{
    height: 15rem;
    width: 15rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.headerpic {
    width: 45%;
    height: auto;
    display:inline-block;
}

.headertext {
    width: 45%;
    display: inline-block;
    overflow-wrap: break-word;
    height: auto; 
    text-align: center;
    align-items: center;
}

.overview {
    background-color: #DDB9A3;
    width: 90%;
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
    color: white;
    
}

.images {
    height: 12rem;
    width:auto;
    margin: auto;
    
}

.small {
    width: 25%;
    margin:auto;
    text-align: center;
    padding: 2rem;
}